
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #120530;
}
.main-form {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.container-form {
  padding: 40px;
  width: 500px;
  border-radius: 12px;
  background: #161616;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
  color: #ffffff;
}
.form-new-product{
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  gap: 8px;
}
.form-new-product input {
  border-radius: 20px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}
.form-new-product select {
  border-radius: 20px;
  padding: 8px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
}
.form-new-product button {
  border-radius: 20px;
  padding: 8px;
  margin-top: 8px;
  background: #ffffff;
  font-size: 18px;
}
.table-products {
  color: aliceblue;
  border: 1px solid white;
  text-align: center;
  padding: 10px;
}
table {
  width: 100%;
  border: 1px solid #7a0578;
}
th, td {
  width: 25%;
  text-align: left;
  vertical-align: top;
  border: 1px solid #7a0578;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
}
